## Question and Answers

### References:
#### 1. Lab2.pdf
#### 2. Kaggle Sqlite European Soccer Database - https://www.kaggle.com/
#### 3. Titanic Survivors Vignette - http://rstudio-pubs-static.s3.amazonaws.com/25402_590f6acfb2544355883f8dcf1c441dc6.html
#### 4. XML - https://www.tutorialspoint.com/r/r_xml_files.htm
#### 5. SQLite  - https://cran.r-project.org/web/packages/RSQLite/RSQLite.pdf
#### 6. CSV files - https://cran.r-project.org/doc/manuals/R-data.pdf or http://rprogramming.net/read-csv-in-r/
#### 7. dplyr - https://cran.rstudio.com/web/packages/dplyr/vignettes/introduction.html
#### 8. sqldf - https://cran.r-project.org/web/packages/sqldf/sqldf.pdf

#### Load Necessary Libraries

In [71]:
library(dplyr)
library(sqldf)

#### Read Player.csv File

In [72]:
Players<- read.csv(file="player.csv", header=TRUE)                #Read CSV file from System
Player <- arrange(Players)%>%rename(match_count = count.match_api_id.,league_count=count.distinct.league_id.)
head(Player)                                                      #Check if properly loaded

  player_api_id player_name       overall_rating gk_attributes match_count
1 2625          Patryk Rachwal 18 63             153           90
2 2752          Diego Mainz       72              53           81
3 2768          Jose Dorado       75              64           71
4 2770          Ignacio Gonzalez  74              60           16
5 2790          Alberto Rey       73             144           50
6 2796          Javier Jimenez    69             340            1
  league_count
1 1
2 1
3 1
4 2
5 1
6 1

#### There are 2 ways to solve these questions, I have shown below both the ways to retrieve answers for these questions. Either using sqlite queries or without using sqlite queries.

### Question 1: Which are the top 10 players by overall rating?

In [73]:
q1 <- read.csv.sql("player.csv", sql = 'select player_name as Player_Name_Top_10,overall_rating as Max_Rating from file order by max_rating DESC limit 10',eol="\n")
arrange(q1)

   Player_Name_Top_10  Max_Rating
1  "Lionel Messi"      94
2  "Gianluigi Buffon"  93
3  "Wayne Rooney"      93
4  "Cristiano Ronaldo" 93
5  "Xavi Hernandez"    92
6  "Gregory Coupet"    92
7  "Thierry Henry"     91
8  "John Terry"        91
9  "Iker Casillas"     91
10 "Alessandro Nesta"  91

### Question 2: Which are the top 10 goalkeepers by sum of gk attributes?

In [74]:
q2 <- read.csv.sql("player.csv", sql = 'select player_name as Player_Name_Top_10_GK,gk_attributes as GK_Total_Rating from file order by gk_attributes DESC limit 10',eol="\n")
arrange(q2)

Warning message:
"closing unused connection 6 (player.csv)"Warning message:
"closing unused connection 5 (player.csv)"Warning message:
"closing unused connection 4 (player.csv)"

   Player_Name_Top_10_GK GK_Total_Rating
1  "Gianluigi Buffon"    449
2  "Gregory Coupet"      447
3  "Petr Cech"           445
4  "Iker Casillas"       442
5  "Manuel Neuer"        440
6  "Julio Cesar"         438
7  "Sebastian Frey"      437
8  "Edwin van der Sar"   436
9  "David De Gea"        429
10 "Paul Robinson"       426

### Question 3: Which are the top 10 players by number of appearances (with any team they played with)?

In [75]:
q3 <- arrange(Players,desc(count.match_api_id.))%>%select(player_name,count.match_api_id.)%>%rename(Top_Ten_Goalkepers_by_Appearences = player_name,Total_Matches_Played=count.match_api_id. )
arrange(q3)%>%head(10)

   Top_Ten_Goalkepers_by_Appearences Total_Matches_Played
1  Steve Mandanda                    300
2  Stephane Ruffier                  294
3  Gorka Iraizoz Moreno              286
4  Samir Handanovic                  286
5  Hugo Lloris                       282
6  Tim Howard                        282
7  Joe Hart                          275
8  Cedric Carrasso                   268
9  Daniel Congre                     262
10 Moussa Sissoko                    260

### Question 4: Which are the top 10 players by number of leagues they played in?

In [76]:
q4 <- arrange(Players)%>%select(player_name,count.distinct.league_id.)%>%rename(Top_Ten_Players_by_League_Count = player_name ,No_Of_Leagues = count.distinct.league_id.)
arrange(q4,desc(No_Of_Leagues))%>%head(10)

   Top_Ten_Players_by_League_Count No_Of_Leagues
1  Gelson Fernandes                6
2  Ricky van Wolfswinkel           5
3  Filip Djuricic                  5
4  Radamel Falcao                  4
5  Jonathan De Guzman              4
6  Almen Abdi                      4
7  Ibrahim Afellay                 4
8  Edson Braafheid                 4
9  Eljero Elia                     4
10 Danijel Pranjic                 4

#### Read Team.csv File

In [77]:
Team<- read.csv(file="team.csv", header=TRUE)                           #Load CSV from System
head(Team)                                                              #Check if read properly

  team_api_id team_long_name        build_sum chance_sum defense_sum away_goal
1 1601        Ruch Chorzów          139       181        136         132
2 1773        Oud-Heverlee Leuven   153       157        137          52
3 1957        Jagiellonia Bialystok 158       152        162         111
4 2033        S.C. Olhanense        147       134        105          68
5 2182        Lech Poznan           176       185        157         157
6 2183        P. Warszawa            80       162        140          88
  home_goal total_goal
1 148       280
2  74       126
3 176       287
4  70       138
5 215       372
6  96       184

### Question 5: Which are the top 10 teams by sum of build up play attributes?

In [78]:
q5 <- arrange(Team)%>%select(team_long_name,build_sum)%>%rename(Top_Ten_Teams_by_Build_Up = team_long_name,Sum_Build_Up=build_sum )
arrange(q5,desc(Sum_Build_Up))%>%head(10)

Warning message:
"closing unused connection 7 (player.csv)"

   Top_Ten_Teams_by_Build_Up  Sum_Build_Up
1  Torino                     209
2  Udinese                    205
3  Fortuna Düsseldorf         198
4  Podbeskidzie Bielsko-Biala 193
5  Korona Kielce              192
6  Widzew Lódz                190
7  Widzew Lódz                190
8  Carpi                      190
9  FC Nantes                  189
10 Sassuolo                   188

### Question 6: Which are the top 10 teams by sum of chance creation attributes?

In [79]:
q6 <- arrange(Team,desc(chance_sum))%>%select(team_long_name,chance_sum)%>%rename(Top_Ten_Teams_by_Chance_Creation = team_long_name ,Sum_Chance_Creation=chance_sum)
arrange(q6,desc(Sum_Chance_Creation))%>%head(10)

   Top_Ten_Teams_by_Chance_Creation Sum_Chance_Creation
1  Lazio                            220
2  Napoli                           215
3  Wolverhampton Wanderers          210
4  Swansea City                     210
5  FC Bayern Munich                 205
6  Birmingham City                  204
7  Inter                            203
8  Falkirk                          200
9  Bournemouth                      200
10 Udinese                          199

### Question 7: Which are the top 10 teams by sum of defense attributes?

In [80]:
q7 <- arrange(Team)%>%select(team_long_name,defense_sum)%>%rename(Top_Ten_Teams_by_Defence_Attributes = team_long_name,Sum_Defence_Attributes=defense_sum)
arrange(q7,desc(Sum_Defence_Attributes))%>%head(10)

   Top_Ten_Teams_by_Defence_Attributes Sum_Defence_Attributes
1  Wolverhampton Wanderers             210
2  Bournemouth                         210
3  Swansea City                        210
4  Odra Wodzislaw                      205
5  KSV Roeselare                       205
6  Falkirk                             200
7  Le Mans FC                          200
8  Grenoble Foot 38                    195
9  FC Barcelona                        191
10 Lazio                               190

### Question 8: Which are the top 10 teams by number of scored goals?

In [81]:
q8 <- arrange(Team,desc(total_goal))%>%select(team_long_name,total_goal)%>%rename(Top_Ten_Teams_by_Total_Goals_Scored = team_long_name,Total_Goals_Scored=total_goal)
arrange(q8,desc(Total_Goals_Scored))%>%head(10)

   Top_Ten_Teams_by_Total_Goals_Scored Total_Goals_Scored
1  FC Barcelona                        849
2  Real Madrid CF                      843
3  Celtic                              695
4  FC Bayern Munich                    653
5  PSV                                 652
6  Ajax                                647
7  FC Basel                            619
8  Manchester City                     606
9  Chelsea                             583
10 Manchester United                   582

### END OF LAB2 - ACTIVITY 2.B